* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  transition: all ease 0.1s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(235, 235, 235);
  color: #636363;
}

.wrapper {
  margin: 4rem auto;
  padding: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  
  -webkit-box-shadow: 0 0 8px #c4c4c4;
          box-shadow: 0 0 8px #c4c4c4;
}

.wrapper h2 {
  padding: 2rem 1rem;
}

h4 {
  width: 100%;
  padding: 0.5rem 1rem;
}

input {
  background-color: #dadada;
  border: none;
  border-radius: 5px;
}


.name {
  padding: 1rem;
  width: 300px;
}

.dob {
  padding: 1rem;
  width: 65px;
}

.input-box {
  margin: 1rem;
  position: relative;
}

.input-box h4 {
  padding: 0.5rem 0;
}

.icon, .fa-envelope {
  position: absolute;
  right: 5px;
  top: 10px;
}

.fa {
  padding: 5px;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-group:nth-child(4) {
  display: block;
}

.radio {
  margin: 0;
}

label {
  margin-right: 0.5rem;
}

input[placeholder="Card CVC"] {
  width: 105px;
  padding: 1rem;
}

select {
  padding: 1rem 0.4rem;
  margin-left: 0.5rem;
  border: none;
  background-color: #dadada;
  border-radius: 5px;
}

button {
  padding: 1rem;
  background-color: #dadada;
  border-radius: 5px;
}
input:hover, select:hover, button:hover {
  border: outset 1px #d6d6d6;
}
span {
  font-size: large;
}


@media screen and (max-width:820px) { 
  .wrapper {
    width: 400px;
  }
}
